/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.menu ul {
	display: flex;
	gap: 30px;
	padding: 0;
	list-style-type: none;
	margin: 0;
}

/*
.menu {
	padding: 20px;
}
*/
.menu a {
	text-decoration: none;
	color: #25133d;
}



.menu li {
	padding: 20px;
}

.menu a:hover {
	color: #FFFFFF;
}

.menu li:hover {
	color: #FFFFFF;
	background-color: #48418e;
}

#superappka:hover {
	background-color: #FFFFFF;
	color: #25133d;
}

.banner {
	background-image: url(images/pozadi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 450px;
	position: relative;
}

.banner h1 {
	font-size: 90px;
	font-weight: 400;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 0;
}

.banner p {
	font-size: 36px;
	font-weight: 300;
	color: #FFFFFF;
	margin-left: 20px;
}

.banner img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.buttons {
	display: flex;
	gap: 20px;
	margin-left: 20px;
}

.buttons a {
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px;
	border: 1px solid #FFFFFF;	
	border-radius: 5px;
}

.buttons a:hover {
	background-color: #48418e;
}

.content h2 {
	font-size: 20px;
	font-weight: 700;
	color: #25133d;
}

.content img {
	width: 100px;
}

.content {
	display: flex;
	text-align: center;
	margin-top: 20px;
}

footer {
	text-align: center;
	background-color: #48418e;
	color: #FFFFFF;
	padding: 5px;
}

